USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_ALL_FLIGHT_STATUS]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_ALL_FLIGHT_STATUS]

AS

UPDATE Flights
SET FLIGHT_STATUS = 'BOARDING'
WHERE DEPARTURE_TIME <= DATEADD(MINUTE, -45, GETDATE())

UPDATE Flights
SET FLIGHT_STATUS = 'IN THE AIR'
WHERE DEPARTURE_TIME < GETDATE() AND LANDING_TIME > GETDATE()

UPDATE Flights
SET FLIGHT_STATUS = 'LANDED'
WHERE LANDING_TIME < GETDATE()
GO
