USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[ADD_TICKET]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_TICKET]
	@FLIGHT INT,
	@CUSTOMER INT
AS
	INSERT INTO Tickets (FLIGHT_ID, CUSTOMER_ID)
	VALUES (@FLIGHT, @CUSTOMER)
	UPDATE Flights
	SET REMAINING_TICKETS = REMAINING_TICKETS -1 
	WHERE ID = @FLIGHT
GO
