USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[DOES_FLIGHT_EXIST_BY_ID]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DOES_FLIGHT_EXIST_BY_ID]
@ID INT,
@VALUE INT OUTPUT
AS
SELECT @VALUE = (SELECT COUNT(ID) FROM Flights WHERE ID = @ID)
RETURN @VALUE
GO
