USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_ADMINISTRATOR]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_ADMINISTRATOR]
	@ID INT,
	@USER VARCHAR(25),
	@PASS VARCHAR(25)
AS
	UPDATE Users
	SET USERNAME = @USER, PASSWORD = @PASS
	WHERE ID = @ID AND USERTYPE = 1
GO
