USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CUSTOMER]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_CUSTOMER]
	@ID INT,
	@USER VARCHAR(25),
	@PASS VARCHAR(25),
	@FIRST VARCHAR(50),
	@LAST VARCHAR(50),
	@ADDRESS VARCHAR(50),
	@PHONE INT,
	@CARD INT
AS
	UPDATE Customers
	SET  FIRST_NAME = @FIRST, LAST_NAME = @LAST, ADDRESS = @ADDRESS, PHONE_NO = @PHONE, CREDIT_CARD_NUMBER = @CARD
	WHERE ID = @ID
	UPDATE Users
	SET USERNAME = @USER, PASSWORD = @PASS
	WHERE FK_ID_CUSTOMER = @ID
GO
