USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_AIRLINE_COMPANY]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_AIRLINE_COMPANY]
	@ID INT,
	@USER VARCHAR(25),
	@PASS VARCHAR(25),
	@NAME VARCHAR(50),
	@CODE INT
AS
	UPDATE AirlineCompanies
	SET AIRLINE_NAME = @NAME, COUNTRY_CODE = @CODE
	WHERE ID = @ID
	UPDATE Users
	SET USERNAME = @USER, PASSWORD = @PASS
	WHERE FK_ID_AIRLINE = @ID
GO
