USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[TRY_LOGIN]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TRY_LOGIN]
	@USER VARCHAR(25),
	@VALUE INT OUTPUT
AS
	SELECT @VALUE = (SELECT USERTYPE FROM Users WHERE USERNAME = @USER) 
RETURN @VALUE
GO
