USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[ADD_FLIGHT]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_FLIGHT]
	@AIRLINE INT,
	@ORIGIN INT,
	@DESTINATION INT,
	@DEPARTURE DATETIME,
	@LANDING DATETIME,
	@TOTAL INT
AS
	INSERT INTO Flights (AIRLINECOMPANY_ID, ORIGIN_COUNTRY_CODE, DESTINATION_COUNTRY_CODE, DEPARTURE_TIME, LANDING_TIME, FLIGHT_STATUS, TOTAL_TICKETS,REMAINING_TICKETS)
	VALUES (@AIRLINE, @ORIGIN, @DESTINATION, @DEPARTURE, @LANDING, 'PLANNED', @TOTAL, @TOTAL)
GO
