USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_TICKET_ID]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TICKET_ID]
	@CUSTOMER INT,
	@FLIGHT INT	
AS
	SELECT ID AS 'ID' FROM Tickets WHERE CUSTOMER_ID = @CUSTOMER AND FLIGHT_ID = @FLIGHT
GO
