USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[REMOVE_CUSTOMER]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REMOVE_CUSTOMER]
	@ID INT
AS
	DELETE FROM Users WHERE FK_ID_CUSTOMER = @ID
	DELETE FROM Customers WHERE ID = @ID
GO
