USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_FLIGHTS_BY_CUSTOMER]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_FLIGHTS_BY_CUSTOMER]
	@CUSTOMER INT
AS
	SELECT Flights.ID AS 'ID', Flights.AIRLINECOMPANY_ID AS 'AIRLINE', Flights.ORIGIN_COUNTRY_CODE AS 'ORIGIN', Flights.DESTINATION_COUNTRY_CODE AS 'DESTINATION', Flights.DEPARTURE_TIME AS 'DEPARTURE', Flights.LANDING_TIME AS 'LANDING', Flights.FLIGHT_STATUS AS 'STATUS', Flights.TOTAL_TICKETS AS 'TOTAL', Flights.REMAINING_TICKETS AS 'REMAINING', Tickets.CUSTOMER_ID
	FROM Flights 
	INNER JOIN Tickets
	ON Tickets.FLIGHT_ID = Flights.ID
	WHERE  Tickets.CUSTOMER_ID = @CUSTOMER
GO
