USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_CUSTOMER_BY_ID]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_CUSTOMER_BY_ID]
	@ID	INT
AS
	SELECT FIRST_NAME AS 'FIRST', LAST_NAME AS 'LAST', USERNAME AS 'USER', PASSWORD AS 'PASS', ADDRESS AS 'ADDRESS', PHONE_NO AS 'PHONE', CREDIT_CARD_NUMBER AS 'CARD',Customers.ID as 'ID'
	FROM Users
	RIGHT JOIN Customers
	ON Users.FK_ID_CUSTOMER = Customers.ID
	WHERE Customers.ID = @ID
GO
