USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_ALL_ADMINISTRATORS]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ALL_ADMINISTRATORS]

AS
	SELECT USERNAME AS 'USER', PASSWORD AS 'PASS', ID AS 'ID'
	FROM Users
GO
