USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[ADD_ADMINISTRATOR]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_ADMINISTRATOR]
	@USER VARCHAR(25),
	@PASS VARCHAR(25)
AS
	INSERT INTO Users(USERNAME,PASSWORD, USERTYPE)
	VALUES (@USER, @PASS, 1)
GO
