USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_ALL_TICKETS_BY_CUSTOMER]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ALL_TICKETS_BY_CUSTOMER]
	@CUSTOMER INT	
AS
	SELECT ID AS 'ID', CUSTOMER_ID AS 'CUSTOMER', FLIGHT_ID AS 'FLIGHT' FROM Tickets WHERE CUSTOMER_ID = @CUSTOMER
GO
