USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_ADMINISTRATOR_BY_USERNAME]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ADMINISTRATOR_BY_USERNAME]
	@USER VARCHAR(25)
AS
	SELECT ID AS 'ID',USERNAME AS 'USER', PASSWORD AS 'PASS'
	FROM Users
	WHERE USERNAME = @USER
GO
