USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_ALL_TICKETS]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_ALL_TICKETS]

AS
	SELECT FLIGHT_ID AS 'FLIGHT', CUSTOMER_ID AS 'CUSTOMER'
	FROM Tickets;
GO
