USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[GET_TICKET_BY_ID]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_TICKET_BY_ID]
	@ID	INT
AS
	SELECT FLIGHT_ID AS 'FLIGHT', CUSTOMER_ID AS 'CUSTOMER'
	FROM Tickets
	WHERE ID = @ID
GO
