USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_FLIGHT]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_FLIGHT]
	@ID INT,
	@AIRLINE INT,
	@ORIGIN INT,
	@DESTINATION INT,
	@DEPARTURE DATETIME,
	@LANDING DATETIME,
	@STATUS VARCHAR(50),
	@TOTAL INT,
	@REMAINING INT
AS
	UPDATE Flights
	SET AIRLINECOMPANY_ID = @AIRLINE, ORIGIN_COUNTRY_CODE = @ORIGIN, DESTINATION_COUNTRY_CODE = @DESTINATION, DEPARTURE_TIME = @DEPARTURE, LANDING_TIME = @LANDING, FLIGHT_STATUS = @STATUS, TOTAL_TICKETS = @TOTAL, REMAINING_TICKETS = @REMAINING
	WHERE ID = @ID
GO
