USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[ADD_CUSTOMER]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_CUSTOMER]
	@USER VARCHAR(25),
	@PASS VARCHAR(25),
	@FIRST VARCHAR(50),
	@LAST VARCHAR(50),
	@ADDRESS VARCHAR(50),
	@PHONE INT,
	@CREDIT INT
AS
	INSERT INTO Customers(FIRST_NAME, LAST_NAME, ADDRESS, PHONE_NO, CREDIT_CARD_NUMBER)
	VALUES (@FIRST, @LAST, @ADDRESS, @PHONE, @CREDIT)
	INSERT INTO Users(USERNAME,PASSWORD, USERTYPE, FK_ID_CUSTOMER)
	VALUES (@USER, @PASS, 3, (SELECT MAX(ID) FROM Customers))
GO
