USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_TICKETS]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_TICKETS]
	@ID INT,
	@FLIGHT INT,
	@CUSTOMER INT
AS
	UPDATE Tickets
	SET FLIGHT_ID = @FLIGHT, CUSTOMER_ID = @CUSTOMER
	WHERE ID = @ID
GO
