USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[REMOVE_AIRLINE_COMPANY]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REMOVE_AIRLINE_COMPANY]
	@ID INT
AS
	DELETE FROM Users WHERE FK_ID_AIRLINE = @ID	
	DELETE FROM AirlineCompanies WHERE ID = @ID
GO
