USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[ADD_AIRLINE_COMPANY]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADD_AIRLINE_COMPANY]
	@USER VARCHAR(25),
	@PASS VARCHAR(25),
	@NAME VARCHAR(50),
	@CODE INT
AS
	INSERT INTO AirlineCompanies(AIRLINE_NAME,COUNTRY_CODE)
	VALUES (@NAME, @CODE)
	INSERT INTO Users(USERNAME, PASSWORD,USERTYPE, FK_ID_AIRLINE)
	VALUES (@USER,@PASS, 2,(SELECT MAX(ID) FROM AirlineCompanies))
GO
