USE [FlightProject]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_REMAINING_SEATS_ON_FLIGHT]    Script Date: 23-Feb-20 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CHECK_REMAINING_SEATS_ON_FLIGHT]
@ID INT,
@VALUE INT OUTPUT
AS
SELECT @VALUE = (SELECT REMAINING_TICKETS FROM Flights WHERE ID = @ID)
RETURN @VALUE
GO
